body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: green;
    color: white;
    padding: 1rem;
    text-align: center;
  }

  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 0 20px;
  }

  footer {
    background-color: green;
    color: white;
    padding: 1rem;
    text-align: center;
    position: sticky;
    width: 100%;
  }
