
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: green;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 0 20px;
  }

  main {
  flex: 1;
}

footer {
  background-color: green;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header a {
  color: white ;
  text-decoration: none;
  margin: 0 1rem
}